.about {

     .row{
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap:2rem;

          .image{
               flex :1 1 42rem;
               border-radius: .5rem;

                    img{
                         width:100%;
                         border-radius: .5rem;
                    }
          }
          .content{
               flex: 1 1 42rem;

               h3{
                    font-size: 3.5rem;
                    color:$black;
                    line-height: 2;
               }
               p{
                    font-size: 1.4rem;
                    line-height: 2.5;
                    color:$light-color;
                    padding: 1rem 0;
               }
          }
     }
     .icons-container{
          @include grid(16rem);
          margin-top: 2.5rem;

          .icons{
               padding: 3rem 2rem;
               border-radius: .5rem;
               border:$border;
               text-align: center;
              cursor: pointer;

              &:hover{
               background: $black;

               img{
                    filter: invert(1);
               }
               h3{
                    color:$white;
               }
              }

               img{
                    height: 7rem;
                    margin-bottom: 1rem;
               }
               h3{
                    font-size: 1.7rem;
                    color:$black;
               }
          }

     }
}